<div class="data-form">
    <form [formGroup]="formInfo" class="form-horizontal row" (ngSubmit)="submit()">
        <ng-content select="form-item"></ng-content>
        <ng-content select="form-group"></ng-content>
        <div class="form-group" class="col-md-12">
            <div class="col-md-12">
                <button mat-raised-button color="primary" [disabled]="!formInfo.valid" type="submit">保存</button>
                <button mat-raised-button color="accent" type="reset">重置</button>
            </div>
        </div>
    </form>
</div>