<template-panel-form Title="添加类别">

  <data-form [formInfo]="goodsTypeForm" [dataStr]="goodsType">
    <form-item name="business_id" title="商家" type="select" [dataList]="business">
      <form-validator type="required" title="请输入商家名"></form-validator>
    </form-item>
    <form-item name="name" title="类别名">
      <form-validator type="required" title="请输入类别名"></form-validator>
    </form-item>

    <form-item name="isValid" title="是否启用" type="checkbox"></form-item>
  </data-form>
</template-panel-form>
