<template-panel-form Title="添加广告">
  <data-form [formInfo]="advertmForm" [dataStr]="advertm" >
    <form-item name="title" title="标题">
      <form-validator type="required" title="请输入标题"></form-validator>
    </form-item>
    <form-item name="type" title="类型" type="select" [dataList]="typeList">
      <form-validator type="required" title="请选择类型"></form-validator>
    </form-item>
    <form-item name="link" title="链接">
      <form-validator type="required" title="请输入链接"></form-validator>
    </form-item>
    <form-item name="imageIds" title="图片" type="file">
      <form-validator type="required" title="请选择上传图片"></form-validator>
    </form-item>
    <form-item name="explain" title="说明"></form-item>
    <form-item name="startDate" title="开始时间"  [isRootClass]="false" type="date" class="col-md-5"></form-item>
    <form-item name="endDate" title="结束时间"  [isRootClass]="false" type="date" class="col-md-5"></form-item>
    <form-item name="isValid" title="是否启用" type="checkbox"></form-item>
  </data-form>
</template-panel-form>
