.appAdmin {
  .mat-toolbar.mat-primary {
    background: #1976d2;
    color: rgba(255, 255, 255, .87);
  }
  .mat-sidenav {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    min-width: 260px;
    color: #fff;
    background: #000;
    height: calc(100vh);
    .mat-list-item {
      color: #fff;
    }
    .matlist {
      margin-bottom: 12px;
      .mat-list-text {
        padding: 0px !important;
        margin-left: 15px;
      }
      .mat-list-item-content:hover {
        background-color: #e91e63;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
        border-radius: 3px
      }
    }
  }
  .sideNav {
    z-index: 4;
    width: 100%;
    position: relative;
    padding:0 15px;
    height: calc(100vh);
    overflow-y:visible;
    .mat-divider {
      border-color: rgba(180, 180, 180, 0.3);
    }
    .userimg {
      width: 34px;
      height: 34px;
      margin-right: 6px;
    }
    .mat-user-info {
      .user-info {
        margin-bottom: 6px;
      }
      .mat-list {
        .mat-list-item:hover {
          background-color: #e91e63;
          box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
          border-radius: 3px
        }
      }
    }
    a {
      color: white;
    }
  }
  .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
  }
  .sidebar-background:after {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: #000;
    opacity: .8;
  }
  .mat-drawer-content {
    background: #e5e6e6;
    background-size: 100% 100%;
    color: #313534;
    .sidenav-content {
      height: calc(100vh);
      padding: 10px 3rem 1rem;
    }
    .breadcrumb {
      background: #1976d2;
      color: white;
      box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.1);
      a,
      span {
        color: white;
      }
    }
    .card-header-icon {
      width: 64px;
      height: 63px;
    }
    .container-fluid {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .row {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .nav-tabs-title {
    padding-top: 0px;
  }
  mat-expansion-panel {
    border: solid 1px #efefef;
    margin-top: 12px;
    margin-bottom: 12px;
    box-shadow: none !important;
  }
  table td {
    line-height: 24px;
    padding: 8px 12px !important;
  }
  .mat-form-field,
  .mat-select {
    width: 100% !important;
  }
  .mat-form-field-infix {
    padding: 0px;
  }
  .alert-danger {
    padding: 6px 12px;
    margin-top: -20px;
    box-shadow: none !important;
  }
  .modal-content .modal-footer button+button {
    margin-bottom: 0px;
  }
  .mat-expansion-indicator:after {
    color: green;
  }
  .form-group input[type=file] {
    opacity: 100;
    position: relative;
  }
  .full-width {
    width: 100%;
  }
  .breadcrumb-item+.breadcrumb-item::before {
    color: white;
  }
  .toggler{
    cursor: pointer;
  }
}

@media (max-width: 479px) {
  .breadcrumb {
    display: none;
  }
  .appAdmin .mat-drawer-content .sidenav-content {
    padding: 20px .5rem .5rem;
  }
  .card-table .card-content {
    padding-left: 0px;
    padding-right: 0px;
    .row {
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
      .col-sm-12 {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    .pageiation {
      .pageiation-left {
        display: none;
      }
      .pageiation-right {
        padding-left: 0px;
        padding-right: 0px;
      }
      .previous {
        display: none;
      }
      .next {
        display: none;
      }
    }
    .card [data-background-color="purple"] {
      box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.14), 0 7px 5px -5px rgba(156, 39, 176, 0.4);
    }
  }
  .table>thead>tr>th {
    font-size: 14px;
  }
  .table tr.trContent td:nth-child(1) {
    display: none;
  }
  .table tr th:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  table.dataTable>tbody>tr>td:first-child {
    padding-left: 5px !important;
  }
}

.modal-backdrop.show {
  z-index: -2;
}

.table{
  
}

